.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.hero img {
    border-radius: 10px;
    width: 180px; 
    height: 250px; 
    object-fit: cover; 
    margin: 0 auto; 
}

.hero-resume a {
    text-decoration: none; 
 
}

.hero-resume a:hover {
    text-decoration: underline; /* Optional: Adds underline on hover for better user experience */
}

/* Example styles for the h1 and span */
h1 {
    font-size: 40px; /* Adjust the size of the h1 element if needed */
    font-weight: bold; /* Optional: adjust the font weight of the h1 element */
}

h1 span {
    font-size: 30px; /* Adjust the size of the span text */
    font-weight: normal; /* Optional: adjust the font weight of the span text */
}


.hero h1 span {
    background: linear-gradient(270deg, #dd8838 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DA7C25 -5.09%, #B923E1 106%);
    cursor: pointer;
}

.hero-resume {
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume:hover {
    border-color: #b415ff;
}
.hero-action {
    display: flex;
    justify-content: space-between;
    /* Add any other styles you need for .hero-action */
}

.hero-connect {
    margin-right: 20px; /* Adjust this value to move it further right */
}

.hero-resume {
    /* Add any necessary styles for .hero-resume */
}

.anchor-link {
    text-decoration: none;
    color: #000; /* Adjust this color as needed */
}


@media (max-width: 768px) {
    .hero img {
        width: 120px; /* Reduced width for mobile */
        height: 120px; /* Reduced height for mobile */
    }

    .hero h1 {
        width: 90%;
        font-size: 50px;
    }

    .hero p {
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }

    .hero-action {
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect {
        padding: 20px 30px;
        border-radius: 40px;
    }

    .hero-resume {
        padding: 20px 50px;
        border-radius: 40px;
    }
}
